* {

padding: 0;
margin: 0;

}

nav {

height: 10vh;
width: 100%;
display: flex;
justify-content: center;
padding: 10px 0;

}

nav ul {

height: 100%;
width: 70%;
display: flex;
text-decoration: none;
list-style: none;
gap: 80px;
align-items: center;
border-radius: 50px;
border: 2px solid black;
font-size: 30px;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 400;
background-color: lightcoral;

}
